@import "variables"

$imageUrl: 'http://ic.pics.livejournal.com/masterok/50816465/582464/582464_original.jpg'

.banner
  color: white
  position: relative
  margin-bottom: 40px
  height: 40vh
  background: linear-gradient(black, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.5)), url($imageUrl) repeat

.bannerTitle
  position: absolute
  top: 50%
  text-align: center
  width: 100%
  font-size: 20px
  line-height: 30px
  font-weight: bold
  letter-spacing: 1px
  transform: translateY(-50%)

.serials
  min-height: 50vh
  position: relative
  display: flex
  flex-direction: column

  > *
    margin-bottom: 30px
