{
  "presets":[
    "react"
  ],
  "plugins": [
    "dynamic-import-webpack",
    "transform-decorators-legacy",
    "transform-decorators",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
