@import "variables"

.word
  user-select: none
  cursor: pointer
  background-color: $mainColor
  padding: 6px
  border-radius: 4px
  display: inline-block
  margin-right: 10px
  font-size: 20px
  margin-bottom: 6px
  margin-top: 6px

.drag
  text-align: center

.subContainer
  position: relative
  border-radius: 10px
  padding: 10px 40px 10px 0
  margin: 30px
  display: flex
  align-items: center
  justify-content: center

  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

    &:before
      content: none

.subNumber
  font-size: .8em
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 4px

.text
  line-height: 34px
  margin: 5px 0
  padding: 2px 0
  text-align: center
  font-size: 20px
  opacity: .7

.repeat
  width: 40px
  margin-left: 10px
