@import "variables"

.thumb
  display: flex
  height: $thumbHeight
  overflow: hidden
  cursor: pointer
  transition: transform .3s
  will-change: transform

  &:hover
    transform: scale(.9)

.info
  flex: none
  height: $thumbHeight
  display: flex
  flex-direction: column
  white-space: nowrap
  font-weight: bold
  font-size: 22px
  padding-top: 20px

.poster
  flex: none
  margin-right: 40px
  height: $thumbHeight
  width: 16 / 9 * $thumbHeight
  background-repeat: no-repeat
  background-size: cover
  background-position: center center

.text
  overflow: hidden
  text-overflow: ellipsis
