@import "variables"

.container
  user-select: none
  display: flex
  align-items: center

.control
  padding: 10px
  cursor: pointer
  font-size: 1.3rem
  color: lighten($mainColor, 10)

.controlMinus
  font-size: 1.3rem
  color: darken($mainColor, 10)

.value
  font-size: 2rem
