@import "variables"

.figure
  height: 0
  overflow: hidden
  padding-top: 56.25%
  background: black
  position: relative
  margin: 0

.video,
.controls
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.controls
  z-index: 99999999999999
