@import "variables"

.opener
  position: absolute
  top: $headerHeight
  right: 0
  width: 30px
  height: 30px
  background: $mainColor
  transform: translateX(100%)

.menu
  padding: 20px
  left: 0
  bottom: 0
  position: fixed
  top: $headerHeight
  transform: translateX(-100%)
  transition: transform 300ms
  will-change: transform
  background-color: rgba(0,0,0,0.9)

  &Open
    transform: translateX(0)
