

// SIZES

$bottomPlayerControlsHeight: 40px
$progressBarPlayerHeight: 30px

$iconWidth: 36px

$headerHeight: 60px

$headerFullHeight: 90px

$thumbHeight: 250px

// SIZES END

// COLORS

$playerControlsBg: rgba(0,0,0,.7)
$mainColor: #ffa260
$secondColor: adjust-hue($mainColor, 45deg)

// COLORS END


$bgUrl: '/assets/bg1.png'
