@import "normalize"
@import "./styles/dragula.css"
@import "icon"
@import "variables"


body
  font-family: 'Lato', sans-serif
  background: linear-gradient(rgba(0, 0, 0, .7) 0%, white 30%)
  background-repeat: no-repeat

\:global
  html,
  body,
  div#app
    height: 100%
    overflow: hidden
    position: relative
